/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ddd;
}

/* Estilos para los encabezados */
.report-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.report-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para los gráficos */
.chart-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.chart {
    width: 40%;
    height: 300px;
}

/* Estilos para el footer */
.report-footer {
    margin-top: 50px;
    text-align: center;
    font-style: italic;
}